In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn import metrics
from datetime import datetime
from pandas_profiling import ProfileReport

In [ ]:
# installer packages
!pip uninstall --yes
!pip install --yes
!conda install -c anaconda pandas-profiling --yes

In [ ]:
#lister tous les packages installées
conda list

In [9]:
# Lire un csv ou excel
df = pd.read_csv("dataTAIWAN.csv", low_memory=True)
df = pd.read_excel('dataTAIWAN.xlsx', index_col=0) 
# possibilité de choisir son séparateur de variables avec l'option sep=";"

# pour afficher toutes les columns
pd.set_option("max_columns", None) 
pd.set_option("display.max_rows", None)

In [ ]:
# check columns type
df['Date'].dtypes

In [ ]:
# check shape avec print de la phrase devant
print('The shape of our features is:', features.shape)

One hot encoding takes this:

| week |
|------|
| Mon  |
| Tue  |
| Wed  |
| Thu  |
| Fri  |

and converts it into:

| Mon | Tue | Wed | Thu | Fri |
|-----|-----|-----|-----|-----|
| 1   | 0   | 0   | 0   | 0   |
| 0   | 1   | 0   | 0   | 0   |
| 0   | 0   | 1   | 0   | 0   |
| 0   | 0   | 0   | 1   | 0   |
| 0   | 0   | 0   | 0   | 1   |

In [ ]:
# One-hot encode categorical features : encoder catégs jours de la semaine par exemple en 0/1
features = pd.get_dummies(features)

## Feature is input; label is output.

In [ ]:
# check dataframes infos
df.info
df.shape

In [ ]:
# to display the distribution of the variable "fetal_health"
sns.countplot(df['fetal_health'])

In [ ]:
#generation d'un report pour corrélations des variables
profile = ProfileReport(df, title="Pandas Profiling Report")
# afficher dans une cellule jupyter le report
profile.to_widgets()
# afficher dans une page HTML
profile.to_notebook_iframe()
# autres infos sur : https://github.com/pandas-profiling/pandas-profiling

In [ ]:
# renommer la colonne "fetal_health" par "Target"
df.rename(columns={'fetal_health': 'Target'}, inplace=True)

In [ ]:
# bouger la column "Mois" à la 13ème place
col_tomove = predictions.pop('prediction')
predictions.insert(9, 'prediction', col_tomove)
display(predictions)

In [ ]:
# concatener X_train et y_train après un split par exemple (attention same index):
newdf = pd.concat([X_train, y_train], axis=1)
display(newdf)

In [ ]:
# Convert string date to 3 separeted columns
df[['Year', 'MonthToDelete', 'Jour']] = pd.DataFrame([ x.split('-') for x in df['Date'].tolist() ])

# Split un timestamp en 3 colums 
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Day'] = df['Timestamp'].dt.strftime('%d')
df['Month'] = df['Timestamp'].dt.strftime('%m')
df['Year'] = df['Timestamp'].dt.strftime('%Y')
df['Hour'] = df['Timestamp'].dt.strftime('%H')
df['Minute'] = df['Timestamp'].dt.strftime('%M')
df['Second'] = df['Timestamp'].dt.strftime('%S')
df['Hour'] = df['Hour'].astype(int)

df.astype({'Date': 'str'}).dtypes

# crée une nouvelle column avec "Moment" qui correspond au moment de la journée en fonction de Hour
df.loc[df['Hour'] >= 0, 'Moment'] = "Morning"
df.loc[df['Hour'] > 12, 'Moment'] = "Afternoon"
df.loc[df['Hour'] > 18, 'Moment'] = "Evening"

In [ ]:
# réorganiser les colums, d'abord afficher le nom des cols :
cols = df.columns.tolist()
cols

# réorganiser en copiant/coller :

df = df[[
'GOAL: Sales',
 'Store',
 'DayOfWeek',
 'Customers',
 'Promo',
 'StateHoliday',
 'StoreType',
 'Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'PromoInterval' 
]]

In [11]:
# changer la target encodage en 0 = no bankrupt et 1 = bankrupt
df.loc[(df['Y'] == 0),'Y']='No Bankrupt'
df.loc[(df['Y'] == 1),'Y']='Bankrupt'
df.dropna(inplace=True)

#supprimer les lignes qui contiennent des NaN
df.dropna()
#supprimer les columns qui contiennent des NaN
df.dropna(axis='columns')

# plus rapide en une seule ligne :

df['StateHoliday'].replace([0,1,2,3],['None','Public Holiday','Easter Holiday','Christmas'],inplace=True)


df.to_csv(r'/Users/davidta/Desktop/Jupyter/banktaiwan2.csv', index = False)

In [ ]:
#drop columns
df.drop(['B', 'C'], axis=1)

#drop rows where colums Species is Bream....
df[df['Species'] == "Bream"]

In [11]:
from sklearn.datasets import load_iris

data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)

In [12]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [15]:
df[df['sepal length (cm)'] != 5.0]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
5                  5.4               3.9                1.7               0.4
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[140 rows x 4 columns]

In [ ]:
# Lire un excel
df = pd.read_excel("GME.xlsx")

In [5]:
#datasetcsv.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
df.head()
#display(datasetcsv)

         Date  Open  High   Low  Close  Adj Close     Volume
0  2020-03-16  3.93  4.57  3.90   4.37       4.37  4866700.0
1  2020-03-17  4.40  4.65  4.11   4.23       4.23  3562200.0
2  2020-03-18  4.10  4.25  3.50   3.77       3.77  3651700.0
3  2020-03-19  3.71  4.20  3.55   4.19       4.19  5039500.0
4  2020-03-20  4.08  4.08  3.65   3.76       3.76  7722200.0

In [ ]:
# selectionner les rows entre 2 dates (attention de le faire avant la convertion de date en français)
start_date = "2001-01-01"
end_date = "2002-12-31"

after_start_date = df["TRANSACTION_DT"] >= start_date
before_end_date = df["TRANSACTION_DT"] <= end_date
between_two_dates = after_start_date & before_end_date
df = df.loc[between_two_dates]

In [6]:
# Convertir dates
df['Date']= pd.to_datetime(df['Date'])
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d').dt.strftime('%d-%m-%Y')
# y = year en 2 caractères
# Y = year en 4 caractères

In [19]:
df.head()

         Date  Open  High   Low  Close  Adj Close     Volume
0  16-03-2020  3.93  4.57  3.90   4.37       4.37  4866700.0
1  17-03-2020  4.40  4.65  4.11   4.23       4.23  3562200.0
2  18-03-2020  4.10  4.25  3.50   3.77       3.77  3651700.0
3  19-03-2020  3.71  4.20  3.55   4.19       4.19  5039500.0
4  20-03-2020  4.08  4.08  3.65   3.76       3.76  7722200.0

In [ ]:
# export several dataframes in one csv
for i in df:
    i.to_csv(r'/Users/davidta/Desktop/Jupyter/bank.csv', index = False)

In [ ]:
# Supprimer les lignes dont la "column" est vide
df.dropna(subset = ["column"], inplace=True)

In [ ]:
# remplacer une valeur dans des lignes par une autre sur la colonne "From same country"
df.loc[(df['From same country'] == 0),'From same country']='No'

#supprimer toutes les lignes dont ="Unknown" dans la colonne "PIN_CODE"
df.drop(df.loc[df['PIN_CODE']=="Unknown"].index, inplace=True)

# afficher les valeurs uniques de la colonne "PIN_CODE"
df.PIN_CODE.unique()
df['class'].unique()
#pareil valeurs uniques mais avec une liste de tout
df['numberOfSampleSpreading'].unique().tolist()

# afficher le nombre de valeurs 0 et 1 par ex. dans la colonne 'Response'
frequency_df = data.groupby('Response').count()
display(frequency_df)

In [ ]:
# réduire la taille d'un dataset (ici à 10%)
df = df.sample(frac=0.1, replace=True, random_state=1)

In [ ]:
# sampler à n lignes
df = df.sample(n=5000)

In [ ]:
import Datahintsmethods as dh
# importer et mettre le fichier "Datahintsmethods.py" and le même dossier et créer un fichier '__init__.py'
# 1er ligne : oversampling(création de bruit contrôlé), 2ème ligne : undersampling
newdf = dh.SMOTENC_map_unmap(df, 'stabf', 0.5) # augmente la classe minoritaire jusqu'à atteindre 50%
final_df = dh.undersampling(newdf, 'stabf', seed=0, ratio_minority=0.5) # baisse la classe majoritaire jusqu'à ce que le ratio_minority = 
display(final_df)
final_df['stabf'].value_counts()

In [ ]:
# resample un classifier dataset pour garder la proportion entre les classes

from imblearn.under_sampling import RandomUnderSampler
from sklearn.utils import resample

def undersampling(df, target, seed=0, ratio_minority=0.2):
  dataframes_list = list()
  value_count = df[target].value_counts(ascending=True)
  resampling_n = value_count[value_count.index[0]]
  value_limit = resampling_n * (1 - ratio_minority) / ratio_minority / (len(value_count) - 1)
  name_class = value_count.index[0]
  value_count = value_count.drop(value_count.index[0])
  for classe in value_count.index:
    df_majority_downsampled = resample(df[df[target] == classe],
                      replace=False, # sample without replacement
                      n_samples=np.int(value_limit), # to match minority class
                      random_state=seed)
    dataframes_list.append(df_majority_downsampled)
  df_downsampled = df[df[target] == name_class]
  for dataframe in dataframes_list:
    df_downsampled = pd.concat([df_downsampled, dataframe])
  df_downsampled.sample(frac=1)
  df_downsampled.reset_index(inplace=True)
  return df_downsampled

new_df=undersampling(df, 'GOAL: Sales', seed=0, ratio_minority=0.1)

In [15]:
# Supprimer les valeurs NaN
df = df.dropna()

In [10]:
# Exporter le df en csv (changer le nom test)
df.to_csv(r'/Users/davidta/Desktop/Jupyter/test.csv', index = False)

In [18]:
# Exporter le df en excel (changer le nom test)
df.to_excel(r'/Users/davidta/Desktop/Jupyter/test.xlsx', index = False)

In [ ]:
# pickle

import pickle
X = automl.show_models()
results = {"ensemble" : X}
pickle.dump(results, open('churn.pickle', 'wb'))

In [ ]:
# ranger par croissant les 10 premiers qui ont le plus grand "CLV"
data.sort_values(by='CLV', ascending=False).head(10).reset_index()

In [ ]:
# ranger la column "length"
df.sort_values(by='length', ascending=True)

In [ ]:
# créer un df "nonmenace" qui regroupe tous les "Non Menace" de la colonne "class"
nonmenace = df.loc[df['class'] == "Non Menace"]

# même chose mais je range by la colonne "class"
dfthales = df.loc[df['detSnr'] == -1].sort_values(by ='class')

In [ ]:
# normaliser la data pour export dans un csv (la target n'est pas normalisé)
from sklearn.preprocessing import MinMaxScaler

y = df['CIBLE_Segmentation']
X = df.drop("CIBLE_Segmentation", axis=1)

scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(X)
scaled_df = pd.DataFrame(scaled_df,columns=X.columns)
newdf = pd.concat([scaled_df, y], axis=1)
#display(scaled_df)
newdf.to_csv(r'doubleprecisionNORMALIZATION.csv', index = False)

In [ ]:
#créer une column Acceleration qui est = la speed*100
df['Acceleration'] = df['speed']*100
#rajouter une column avec une condition :
#créer une nouvelle column en prenant une valeur d'une autre
df['Acceleration2'] = df['Acceleration']
#ou créer une column vide "" ou ici avec une valeur fixe 0
df["Acceleration2"] = 0

#remplacer les valeurs de la column créée avec une condition
df.loc[df['Acceleration2']>100,'Acceleration2'] = 999

In [ ]:
# upper ou lower des columns
coltoupper = ['Day','Station', 'Code', 'Bound', 'Line']
df[coltoupper] = df[coltoupper].apply(lambda x : x.str.upper())

In [ ]:
from sklearn.preprocessing import LabelEncoder

# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
labelstoencode = ['Day','Station', 'Code', 'Bound', 'Line']

for col in df[labelstoencode]:
    df[col+'_']= labelencoder.fit_transform(df[col])

In [ ]:
df['_Code_'].value_counts()
valuestokeep = 93, 196, 86, 167
df = df[df['_Code_'].isin(valuestokeep)]